%box {
  position: relative;
  padding: 20px;
  z-index: 0;
  color: #fff !important;
  * {
    color: #fff !important;
  }
}

%box:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  content: '';
}

#content_editor .brand-box,
.pdf-page-content .brand-box {
  @extend %box;
  &:after {
    background-color: $brand;
  }
}

#content_editor .brand-box--lighten,
.pdf-page-content .brand-box--lighten {
  @extend %box;
  color: $brand-font-color !important;
  * {
    color: $brand-font-color !important;
  }
  &:after {
    background-color: lighten($brand, 40%);
  }
}

#content_editor .brand-box--multiply,
.pdf-page-content .brand-box--multiply {
  @extend %box;
  &:after {
    background-color: darken(transparentize($brand-three, 0.15), 12%);
  }
}

#content_editor .light-gray-box,
.pdf-page-content .light-gray-box {
  @extend %box;
  * {
    color: $brand-font-color !important;
  }
  &:after {
    background-color: $light-gray;
  }
  & .brand-box,
  & .brand-two-box,
  & .brand-box--multiply {
    color: #fff !important;
  }
}

#content_editor .brand-two-box,
.pdf-page-content .brand-two-box {
  @extend %box;
  &:after {
    background-color: $brand-two;
  }
  * {
    color: #fff !important;
  }
}

#content_editor .brand-two-box--lighten,
.pdf-page-content .brand-two-box--lighten {
  @extend %box;
  color: $brand-font-color !important;
  &:after {
    background-color: lighten($brand-two, 35%);
  }
  * {
    color: $brand-font-color !important;
  }
}

#content_editor .brand-three-box,
.pdf-page-content .brand-three-box {
  @extend %box;
  &:after {
    background-color: $brand-three;
  }
}


/*
==============================
SCHWAB BOX DEFAULTS
==============================
*/
#content_editor [class*='-box'],
.pdf-page-content [class*='-box'] {
  padding-bottom: 55%;
}