#content_editor .full-page,
.pdf-page-content .full-page {
  overflow: hidden;
  margin-left: -30px;
  margin-top: -20px;
  width: calc(100% + 60px);
  padding: 20px 30px;
  position: relative;
  z-index: 1;
  page-break-after: always;
}
.pdf-page-content .full-page {
  margin-top: -0.5in;
  margin-left: -0.5in;
  padding: 0.5in;
  width: 8.5in !important;
  min-height: 11in !important;
}

#content_editor .light-page,
.pdf-page-content .light-page {
  background-color: $light-gray;
  margin-bottom: -20px;
}