.schwab-table {
  border: 0px !important;
}

.schwab-table thead th {
  padding: 5px 10px !important;
}

.schwab-table tbody td {
  background-color: #fff;
  padding: 10px !important;
  li {
    font-size: 0.75em !important;
  }
}