.pdf-page-content .full-page.schwab-cover-container {
  min-height: 11in !important;
  overflow: auto !important;
}

#content_editor .schwab-cover,
.pdf-page-content .schwab-cover {
  overflow: hidden;
  min-height: 600px;
  // background-image: url(https://mytinder.s3.amazonaws.com/assets/medias/447479_original.png?1490126381);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 40px;
  padding-right: 40px;
  background-size: 1190px;
  background-position: -75px -140px;
  margin-bottom: 100px;
  @include bp(sm) {
    background-position: -250px -100px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
  }
}
.pdf-page-content .schwab-cover {
  padding: 0;
  margin-bottom: -0.5in;
  min-height: 9.5in;
}

#content_editor .schwab-cover-bg,
.pdf-page-content .schwab-cover-bg {
  position: absolute;
  z-index: -1;
  width: calc(100% + 500px);
  max-width: calc(100% + 500px) !important;
  left: -200px;
  top: -120px;
  transition: all 200ms ease-out;
  @include bp(sm) {
    opacity: 0.35;
    width: calc(100% + 780px);
    max-width: calc(100% + 780px) !important;
    left: 50%;
    top: 50%;
    transform: translate(-54%, -66%);
  }
}
.pdf-page-content .schwab-cover-bg {
  left: -3.5in;
  width: 16in !important;
  max-width: 16in !important;
}

#content_editor .schwab-logo,
.pdf-page-content .schwab-logo {
  display: block;
  width: 100%;
  max-width: 100px !important;
  margin-bottom: 15px;
}

#content_editor .schwab-logo-tagline,
.pdf-page-content .schwab-logo-tagline {
  display: block;
  width: 100%;
  max-width: 200px !important; 
  margin-bottom: 5em;
}
.pdf-page-content .schwab-logo-tagline {
  margin-bottom: 2in;  
}

#content_editor .schwab-cover-content-container,
.pdf-page-content .schwab-cover-content-container {
  margin-bottom: 4em;
  @include bp(sm) {
    margin-bottom: 2em;
  }
}
.pdf-page-content .schwab-cover-content-container {
  margin-bottom: 0 !important;
}

#content_editor .schwab-cover-content-container [class*="-box"],
.pdf-page-content .schwab-cover-content-container [class*="-box"] {
  padding-bottom: 30%;
}
.pdf-page-content .schwab-cover-content-container [class*="-box"] {
  padding-bottom: 1.5in; 
}

#content_editor .schwab-cover-content-container h1,
.pdf-page-content .schwab-cover-content-container h1 {
  font-size: 2.75em !important;
  margin-bottom: 0.5em !important;
  line-height: 1 !important;
}
.pdf-page-content .schwab-cover-content-container h1 {
  font-size: 42pt !important;
}
#content_editor .schwab-cover-content-container h2,
.pdf-page-content .schwab-cover-content-container h2 {
  font-size: 1.5em !important;
  line-height: 1.2 !important;
  margin-bottom: 20px !important;
}
#content_editor .schwab-cover-content-container p,
.pdf-page-content .schwab-cover-content-container p {
  font-size: 1.3em !important;
  line-height: 1.4 !important;
}

#content_editor .schwab-workgroup-label,
.pdf-page-content .schwab-workgroup-label {
  margin-top: 130px;
  text-align: right;
  @include bp(sm) {
    text-align: center;
  }
}
.pdf-page-content .schwab-workgroup-label {
  margin-top: 0;
  position: absolute;
  bottom: 0.3125in;
  right: 0.5in;
}


/*
==============================
BACK COVER
==============================
*/
#content_editor .schwab-back-cover,
.pdf-page-content .schwab-back-cover {
  min-height: 700px;
  > div:last-child {
    padding-right: 30px;
  }
  img:first-child {
      width: 100px;
      left: 80px;
      position: relative;
  }
  .pull-right {
    @include bp(sm) {
      float: none;
      text-align: center;
    }
    > img {
      @include bp(sm) {
        margin: 20px auto 30px;
      }
    }
  }
}
.pdf-page-content .schwab-back-cover {
  height: 11in;
  min-height: 11in;
  max-height: 11in;
  > div:last-child {
    padding-right: 1in;
  }
  > .pos-bottom {
    top: 9in;
  }
}