/*
==============================
RESETS/OVERRIDES
==============================
*/
#content_editor .grid:not(.no-stacking-on-mobiles) > .unit,
.pdf-page-content .grid:not(.no-stacking-on-mobiles) > .unit {
  @include bp(sm) {
    padding-left: 0;
    padding-right: 0;
  }
}

#content_editor .grid .unit,
.pdf-page-content .grid .unit,
#content_editor .grid .unit:first-child,
.pdf-page-content .grid .unit:first-child,
#content_editor .grid .unit:last-child,
.pdf-page-content .grid .unit:last-child {
  padding: 0;
}

#content_editor .grid .unit.half,
.pdf-page-content .grid .unit.half,
#content_editor .grid .unit.two-fifths,
.pdf-page-content .grid .unit.two-fifths,
#content_editor .grid .unit.three-fifths,
.pdf-page-content .grid .unit.three-fifths,
#content_editor .grid .unit.golden-large,
.pdf-page-content .grid .unit.golden-large,
#content_editor .grid .unit.golden-small,
.pdf-page-content .grid .unit.golden-small {
  padding-right: 20px !important;
  &:nth-child(2n) {
    padding-right: 0px !important;
    padding-left: 20px;
    @include bp(sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  @include bp(sm) {
    padding-left: 0;
    padding-right: 0;
  }
}
.pdf-page-content .grid .unit.half,
.pdf-page-content .grid .unit.golden-large,
.pdf-page-content .grid .unit.golden-small {
  padding-right: 0.125in !important;
  &:nth-child(2n) {
    padding-right: 0in !important;
    padding-left: 0.125in !important;
  }
}

#content_editor .grid .unit.one-third,
.pdf-page-content .grid .unit.one-third {
  padding-right: 20px;
}
.pdf-page-content .grid .unit.one-third {
  padding-right: 0.125in; 
}

#content_editor .grid .unit.two-thirds,
.pdf-page-content .grid .unit.two-thirds {
  padding-left: 20px;
}
.pdf-page-content .grid .unit.two-thirds {
  padding-left: 0.125in; 
}

#content_editor .grid .unit.one-quarter,
.pdf-page-content .grid .unit.one-quarter {
  padding-right: 20px;
}
.pdf-page-content .grid .unit.one-quarter {
  padding-right: 0.125in; 
}

#content_editor .grid .unit.three-quarters,
.pdf-page-content .grid .unit.three-quarters {
  padding-left: 20px;
}
.pdf-page-content .grid .unit.three-quarters {
  padding-left: 0.125in;
}


/* Overides for custom box grid */
#content_editor .schwab-box-grid > .grid .half {
  @include bp(sm) {
    padding-right: 0 !important;
    margin-bottom: calc(35% + 1rem);
  }
}

#content_editor .schwab-box-grid > .grid,
.pdf-page-content .schwab-box-grid > .grid {
  overflow: hidden;
}

#content_editor .schwab-box-grid > .grid > *,
.pdf-page-content .schwab-box-grid > .grid > * {
  max-height: 185px;
  border-top: 15px solid #fff;
  &:first-child {
    padding-right: 10px !important;
  }
  &:last-child {
    padding-left: 10px !important;
  }
}
.pdf-page-content .schwab-box-grid > .grid > * {
  max-height: 1.75in;
}