#content_editor h1,
.pdf-page-content h1 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300 !important;
  color: $brand !important;
  font-size: 26px !important;
  line-height: 1.3 !important;
  @include bp(sm) {
    font-size: 28px !important;
    line-height: 1.4 !important;
  }
}
.pdf-page-content h1 {
  font-size: 20pt !important;
  line-height: 1.2 !important;
}

#content_editor h2,
.pdf-page-content h2 {
  @include bp(sm) {
    font-size: 24px !important;
  }
}

#content_editor h3,
.pdf-page-content h3 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300 !important;
  color: $brand !important;
}

.pdf-page-content h4 {
  font-size: 12pt !important;
  font-weight: 400 !important;
}

#content_editor p,
.pdf-page-content p {
  @include bp(sm) {
    font-size: 16px !important;
  }
}
.pdf-page-content p {
  font-size: 10pt !important;
  line-height: 14pt !important;
}

#content_editor ul,
.pdf-page-content ul {
  font-size: 18px !important;
  line-height: 1.3 !important;
  padding-left: 1em !important;
  list-style-type: square;
}
.pdf-page-content ul {
  font-size: 11pt !important;
  line-height: 14pt !important;
}

#content_editor ol > li,
.pdf-page-content ol > li {
  font-weight: 300 !important;
}

#content_editor ul > li {
  margin-bottom: 9px;
}

#content_editor blockquote,
.pdf-page-content blockquote {
  margin: 0 !important;
}

#content_editor blockquote > *,
.pdf-page-content blockquote > * {
  color: $brand;
}

#content_editor blockquote > p,
.pdf-page-content blockquote > p {
  font-size: 1.05em !important;
  line-height: 1.3 !important;
}

#content_editor blockquote > p:first-child,
.pdf-page-content blockquote > p:first-child {
  position: relative;
  &:before,
  &:after {
    content: '"';
  }
  &:before {
    position: absolute;
    top: 0;
    left: -0.5em;
  }
}

#content_editor table th {
  text-transform: uppercase;
  text-align: left;
  padding: 5px;
}

#content_editor hr,
.pdf-page-content hr {
  background-color: $brand-font-color !important;
  border: 0 !important;
  height: 2px !important;
  width: 100% !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}
.pdf-page-content hr {
  display: block !important;
  border-top: 2px solid $brand-font-color !important;
}

#content_editor sup,
.pdf-page-content sup {
  font-size: 0.6em !important;
  line-height: 1 !important;
}

#content_editor .footnotes,
.pdf-page-content .footnotes {
  list-style-type: none;
  counter-reset: footnote;
  font-size: 0.55em !important;
  line-height: 1.4 !important;
  padding-left: 0.5em !important;
  margin-top: 40px;
  * {
    font-size: 1em !important;
    line-height: 1.4 !important;
  }
  > li {
    margin-bottom: 5px;
    position: relative;
    &:before {
      counter-increment: footnote;
      content: counter(footnote);
      position: absolute;
      top: -0.25em;
      left: -1em;
      font-size: 0.75em;
    }
  }
}
.pdf-page-content .footnotes {
  font-size: 0.45em !important;
  margin-top: 0.125in;
}

#content_editor .footnotes.footnote-1,
.pdf-page-content .footnotes.footnote-1 {
  > li:before {
    content: '1';
  }
  > li:nth-child(2):before {
    content: '2';
  }
  > li:nth-child(3):before {
    content: '3';
  }
}

#content_editor .footnotes.footnote-4,
.pdf-page-content .footnotes.footnote-4 {
  > li:before {
    content: '4';
  }
}

#content_editor .footnotes.footnote-5,
.pdf-page-content .footnotes.footnote-5 {
  > li:first-child:before {
    content: '5';
  }
  > li:nth-child(2):before {
    content: '6';
  }
}

#content_editor .footnotes.footnote-no-number,
.pdf-page-content .footnotes.footnote-no-number {
  > li:before {
    display: none;
  }
}