#content_editor .no-bull,
.pdf-page-content .no-bull {
  list-style-type: none;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

#content_editor .brand-font-color,
#content_editor .brand-font-color *,
.pdf-page-content .brand-font-color,
.pdf-page-content .brand-font-color * {
  color: $brand !important;
}

#content_editor .brand-two-font-color,
#content_editor .brand-two-font-color *,
.pdf-page-content .brand-two-font-color,
.pdf-page-content .brand-two-font-color * {
  color: $brand-two !important;
}

#content_editor .brand-three-font-color,
#content_editor .brand-three-font-color *,
.pdf-page-content .brand-three-font-color,
.pdf-page-content .brand-three-font-color * {
  color: $brand-three !important;
}

#content_editor .upcase,
.pdf-page-content .upcase {
  text-transform: uppercase;
}

#content_editor .mar-t,
.pdf-page-content .mar-t {
  margin-top: 20px !important;
  &.more-mar {
    margin-top: 60px !important;
  }
}

#content_editor .neg-mar-t,
.pdf-page-content .neg-mar-t {
  margin-top: -20px !important;
  padding-top: 40px !important;
}
.pdf-page-content .neg-mar-t {
  margin-top: -0.5in !important;
  padding-top: 0.75in !important;
}
.pdf-page-content .pos-bottom.neg-mar-t {
  padding-bottom: 0.5in !important;
}
.pdf-page-content .neg-mar-t-more {
  margin-top: -1in !important;
  padding-top: 1.25in !important;
}

#content_editor .mar-r,
.pdf-page-content .mar-r {
  margin-right: 20px !important;
}

#content_editor .mar-b,
.pdf-page-content .mar-b {
  margin-bottom: 20px !important;
  &-negative {
    margin-bottom: -20px !important;
  }
}
.pdf-page-content .mar-b {
  &-negative {
    margin-bottom: -1in !important;
  }
}

// horrible selector for core services page
.pdf-page-content .full-container.neg-mar-t-more.mar-b-negative.pos-rel {
  margin-top: -1in !important;
  // top: -1in !important;
  position: relative !important;
  z-index: 100 !important;
}

#content_editor .mar-l,
.pdf-page-content .mar-l {
  margin-bottom: 20px !important;
}

#content_editor .pad-a,
.pdf-page-content .pad-a {
  padding: 0.5em !important;
}

#content_editor .pad-t,
.pdf-page-content .pad-t {
  padding-top: 0.5em !important;
}

#content_editor .pad-r,
.pdf-page-content .pad-r {
  padding-right: 0.5em !important;
  &-more {
    padding-right: 5em !important;
    @include bp(sm) {
      padding-right: 3em !important;
    }
  }
}

#content_editor .pad-b,
.pdf-page-content .pad-b {
  padding-bottom: 0.5em !important;
}

#content_editor .pad-l,
.pdf-page-content .pad-l {
  padding-left: 0.5em !important;
}

#content_editor .pos-rel,
.pdf-page-content .pos-rel {
  position: relative;
}

#content_editor .pos-abs,
.pdf-page-content .pos-abs {
  position: absolute;
}

#content_editor .no-abs-mobile,
.pdf-page-content .no-abs-mobile {
  @include bp(sm) {
    position: relative;
  }
}

#content_editor .pos-bottom,
.pdf-page-content .pos-bottom {
  bottom: 0;
}

#content_editor .middle-center,
.pdf-page-content .middle-center {
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

#content_editor .font-bump,
.pdf-page-content .font-bump {
  font-size: 1.15em !important;
  line-height: 1.4 !important;
  &.text-is-justified {
    font-size: 1.05em !important;
    line-height: 1.4 !important;
  }
}

#content_editor .font-shrink,
.pdf-page-content .font-shrink {
  font-size: 0.75em !important;
}
.pdf-page-content .font-shrink > * {
  font-size: 1em !important;
  line-height: 1.4em !important;
}
.pdf-page-content .font-shrink > li {
  margin-bottom: 0.0625in;
}

#content_editor img.client-logo,
.pdf-page-content img.client-logo {
  max-width: 200px !important;
}

#content_editor .mobile-only,
.pdf-page-content .mobile-only {
  display: none;
  @include bp(md) {
    display: block;
  }
}
.pdf-page-content .mobile-only {
  display: none !important;
}

#content_editor .desktop-only,
.pdf-page-content .desktop-only {
  display: block;
  @include bp(md) {
    display: none;
  }
}

.pdf-page-content .mobile-only.client-logo {
  display: block !important;
}

.pdf-page-content .print-third {
  max-width: 33%;
}

.pdf-page-content .print-two-third {
  max-width: 66%;
}

.pdf-page-content .print-90 {
  max-width: 90%;
}


#content_editor .text-is-justified,
.pdf-page-content .text-is-justified {
  text-align: justify;
}

#content_editor .display-table,
.pdf-page-content .display-table {
  display: table !important;
  @include bp(md) {
    display: block !important;
  }
}

#content_editor .display-table-cell,
.pdf-page-content .display-table-cell {
  display: table-cell;
  @include bp(md) {
    display: block;
  }
}

#content_editor .vertical-align-middle,
.pdf-page-content .vertical-align-middle {
  vertical-align: middle;
}

#content_editor .no-float,
.pdf-page-content .no-float {
  float: initial !important;
  @include bp(md) {
    float: left !important;
  }
}

#content_editor strong.white-text,
.pdf-page-content strong.white-text {
  color: #fff !important;
}