#content_editor .no-bull {
  list-style-type: none;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.brand-font-color {
  color: $brand !important;
}

.brand-three-font-color {
  color: $brand-three !important;
}

.upcase {
  text-transform: uppercase;
}

.mar-t {
  margin-top: 20px !important;
}

.mar-r {
  margin-right: 20px !important;
}

.mar-b {
  margin-bottom: 20px !important;
  &-negative {
    margin-bottom: -20px !important;
  }
}

.mar-l {
  margin-bottom: 20px !important;
}

.pad-a {
  padding: 0.5em !important;
}

.pad-t {
  padding-top: 0.5em !important;
}

.pad-r {
  padding-right: 0.5em !important;
}

.pad-b {
  padding-bottom: 0.5em !important;
}

.pad-l {
  padding-left: 0.5em !important;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.pos-bottom {
  bottom: 0;
}

.middle-center {
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

#content_editor .font-bump,
.pdf-page-content .font-bump {
  font-size: 1.15em !important;
  line-height: 1.3 !important;
}

#content_editor .font-shrink,
.pdf-page-content .font-shrink {
  font-size: 0.75em !important;
}